   <!-- Our Footer Section-->
    <footer>
    <!-- Top Footer Section -->
        <section class="p-3 ms-footer d-none d-md-block mt">
            <div class="container">
                <div class="row mt-3 text-white">
                    <!-- About Section -->
                    <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
                        <b>MOVIES STORE</b>
                        <hr />
                        <p>
                            Welcome to Movies Store, your premier online destination for a cinematic adventure like no
                            other! Dive into the world of movies from the comfort of your own home with our user-friendly
                            and immersive online movie store.
                        </p>
                    </div>

                    <!-- Navigation Links Section -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                        <b>LINKS</b>
                        <hr />
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-home me-2 text-white"></i>
                            <a class="text-white text-decoration-none" href="{% url 'home:about' %}">About</a>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-film me-2 text-white"></i>
                            <a class="text-white text-decoration-none" href="#">Movies</a>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-envelope me-2 text-white"></i>
                            <a class="text-white text-decoration-none" href="#">Contact</a>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-shopping-cart me-2 text-white"></i>
                            <a class="text-white text-decoration-none" href="#">Cart</a>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-sign-in-alt me-2 text-white"></i>
                            <a class="text-white text-decoration-none" href="{% url 'accounts:login' %}">Login</a>
                        </div>
                    </div>

                    <!-- Contact Info Section -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                        <b>CONTACT</b>
                        <hr />
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-map-marker-alt me-2 text-white"></i>
                            <span>Nairobi, Kenya</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-envelope me-2 text-white"></i>
                            <span>info@scitt.tech.it</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-phone me-2 text-white"></i>
                            <span>+254-734 957</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Bottom Footer -->
        <section class="p-3 ms-footer-bottom bg-dark">
            <div class="container d-flex justify-content-between flex-wrap text-white">
                <!-- Developer Credit Section -->
                <div class="me-5 mb-2">
                    <span>
                        Designed & Developed by
                        <a href="https://www.scitt.tech.it" target="_blank" class="text-white text-decoration-none">
                            SCITT Cohort 2025
                        </a>
                    </span>
                </div>

                <!-- Copyright -->
                <div class="mb-2">
                    <span>© 2025 Movies Store. All Rights Reserved.</span>
                </div>
            </div>

            <div class="container mt-3">
                <!-- Footer Links Section -->
                <div class="d-flex justify-content-center flex-wrap">
                    <a href="/privacy-policy" class="text-white text-decoration-none mx-3">Privacy Policy</a>
                    <a href="/terms-and-conditions" class="text-white text-decoration-none mx-3">Terms & Conditions</a>
                    <a href="/contact-us" class="text-white text-decoration-none mx-3">Contact Us</a>
                </div>
            </div>
        </section>
    </footer>